/* font-family: 'Anton', sans-serif;
font-family: 'Lobster', cursive;
font-family: 'Pacifico', cursive;
font-family: 'Playfair Display SC', serif;
font-family: 'Press Start 2P', cursive;
font-family: 'Quicksand', sans-serif; */

.container {
  width: 100%;
  margin: auto;
  text-align: center;
}

.dice {
  text-align: center;
  display: inline-block;
}

body {
  min-height:100vh;
  background: linear-gradient(271deg,#a0e9ff 30%,#a162e8 50%,#f093b0 70%,#edca85 94%);
  /* -webkit-background-clip: text; */
  /* -webkit-text-fill-color: transparent; */
  /* background-color: #393E46; */

}

h1 {
  margin-top: 40px;
  font-family: 'Press Start 2P', cursive;
  text-shadow: 7px  0 #4ecca4;
  font-size: 8vw;

  color: #232931;
}

.btn {
  display:block;
  text-align:center;
  margin:auto;
  margin-top: 5%;
  margin-bottom: 3%;
}

.ply {
  margin:5% 3%;
}

p {
  font-size: 2rem;
  color: #393E46;
  font-family: 'Indie Flower', cursive;
  font-weight: 500;
}

img {
  width: 60%;
}

footer {
  margin-top: 5%;
  color: #EEEEEE;
  text-align: center;
  font-family: 'Indie Flower', cursive;
}
